/.vs/LocationParser/v15
/src/bin
/src/obj
/src/LocationParser.csproj.user
/.vs/config/applicationhost.config
*.json
/test/bin/Debug
/test/obj/Debug
/packages/Microsoft.Extensions.CommandLineUtils.1.1.1/lib
/packages
